@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

html { 
  background: url(../img/bg/15.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #FFF;
    background: none !important;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
.page-wrapper{
  text-align: center;
  padding: 5% 0 0 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.coming-soon-content h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Quicksand',sans-serif;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
  }
#counter-block span:first-child {
    border-left: none;
}
#counter-block{
    color: #fff;
    text-align: center;
    margin: 18px auto 0;
	width:100%;
    clear:both;
}
#counter-block span {
    font: 70px/1em 'Quicksand', serif;
    display: block;
    padding: 12px 0 30px;
    min-width: 25%;
    float: left;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    border-left: 1px dotted rgba(255, 255, 255, .2);
    max-width:100px;
}
@media only screen and (max-width: 500px) {
	#counter-block span {
		min-width: 50%;
	}
}

#counter-block span em {
    font: 11px/18px 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 12px;
    display: block;
    color: #BCBCBC;
    color: rgba(255, 255, 255,.6);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}
.news-letter{
	margin-top:20px;
	margin-bottom:10px;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
 background-color: transparent;   
}
#exampleInputEmail2{
	border-radius:180px;
	width:300px;
}
.send_invitation{
	margin-left:-80px;
	border-radius:180px;
}

.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.hidden{
	display:none;
}
.seting_icons{
	float:right;
	position:absolute;
	left:20px;
	top:10px;
	cursor:pointer;
}
/* Setting Gear */
.popover{
	width:400px;
	
	font-family: 'Quicksand',sans-serif;
    color: #000;
    font-size: 45px;
	text-align:center;
}
.popover-content{
	height:400px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.popover-content img{
	width:100px;
	margin:10px;
	cursor:pointer;
}
.popover-content .col-sm-3{
	width:110px;
}
.width50{
	display:inline-block;
}
/* End of Setting Gear */
